/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* ----- ROOT ----- */
:root {
  --titleFont: 'Permanent Marker', cursive;
}

/* ----- GLOBAL ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg2.jpg);
  background-size: cover;
  font-size: 15px;
}

/* ----- HEADER ----- */
#header {
  display: flex;
  height: 100px;
  font-family: var(--titleFont);
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

/* ----- MAIN ----- */
#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}

/* ----- ASAID WRAPPERS ----- */
/* ----- Left ----- */
#aside-left {
  /* Layaout */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 540px;
  margin-right: 20px;
  /* Border */
  border: 1px solid green;
}

.color-container,
.slide-container,
.clear-container {
  display: flex;
  width: 80%;
  height: auto;
  flex-direction: column;
}

/* Toggle */
.toggle-container {
  display: flex;
  width: 80%;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

/* Slide */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #8f4578;
  outline: none;
  opacity: 0.7;
  border: 1px solid #44233a;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 25px;
  height: 25px;
  background: #000;
  cursor: pointer;
}

/* ----- Right ----- */
#aside-right {
  /* Layaout */
  display: flex;
  width: 250px;
  height: 540px;
  margin-left: 20px;
  /* Border */
  border: 1px solid green;
}

/* ----- SKETCH WRAPPER ----- */
#sketch-container {
  /* Layaout */
  display: flex;
  min-width: 600px;
  min-height: 600px;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  /* Border */
}

/* DIVS */
.cell {
  /* Bg */
  background-color: #e6e6e6;
  /* Borders */
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
