/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* ----- ROOT ----- */
:root {
  --titleFont: 'Permanent Marker', cursive;
}

/* ----- GLOBAL ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg2.jpg);
  background-size: cover;
  font-size: 15px;
}

/* ----- HEADER ----- */
#header {
  display: flex;
  height: 100px;
  font-family: var(--titleFont);
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

/* ----- MAIN ----- */
#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}

/* ----- ASAID WRAPPERS ----- */
#aside-left {
  /* Layaout */
  display: flex;
  width: 250px;
  height: 540px;
  margin-right: 20px;
  /* Border */
  border: 1px solid green;
}

#aside-right {
  /* Layaout */
  display: flex;
  width: 250px;
  height: 540px;
  margin-left: 20px;
  /* Border */
  border: 1px solid green;
}

/* ----- SKETCH WRAPPER ----- */
#sketch-container {
  /* Layaout */
  display: flex;
  min-width: 960px;
  min-height: 540px;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  /* Border */
  border: 1px solid rgb(0, 0, 0);
}

/* DIVS */
.cell {
  /* Bg */
  background-color: #e6e6e6;
  /* Borders */
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
